<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56342306185-pnjajif5306m988m9dt9v7lgc93tht3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56342306185-pnjajif5306m988m9dt9v7lgc93tht3b</string>
	<key>API_KEY</key>
	<string>AIzaSyCeqP47rVUCkbOIz7UHK6aQVwU7m2uJl6c</string>
	<key>GCM_SENDER_ID</key>
	<string>56342306185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes1</string>
	<key>PROJECT_ID</key>
	<string>mynotes1-ac556</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes1-ac556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56342306185:ios:355e5cc13755e3cefe9558</string>
</dict>
</plist>